@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

/* Base styles */
* {
	font-family: "Fira Code", monospace;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
	body {
		background-color: rgb(2 6 23); /* slate-950 */
		color: rgb(203 213 225); /* slate-300 */
		color-scheme: dark;
	}
}

/* Header and navigation styles */
header .nav-btn {
	visibility: hidden;
	opacity: 0;
	font-size: 1.5rem;
}

.transparent {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
	width: 8px;
	background-color: rgb(2 6 23); /* slate-950 */
}

::-webkit-scrollbar-thumb {
	background: rgb(69, 104, 1) /* #9fef00 */;
	border-radius: 16px;
	opacity: 0.5;
	width: 7px;
}

/* Desktop navigation styles */
.nav-menu {
	flex-direction: row;
}

/* Mobile navigation styles */
@media only screen and (max-width: 700px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	.nav-menu {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		flex-direction: column;
		gap: 1.5rem;
		background-color: rgb(2 6 23); /* slate-950 */
		transition: transform 0.7s ease-in-out;
		transform: translateY(-100vh);
		z-index: 50;
	}

	.nav-menu.responsive-nav {
		transform: translateY(0);
	}

	.nav-close-btn {
		position: fixed !important;
		top: 1.5rem !important;
		right: 1.5rem !important;
		z-index: 51;
	}
}
